Repository xuejuncheng0222/vue-app-js: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat: 更改eslint配置
  eslint.config.js
Due: eslint --fix, prettier --write

feat: 测试格式化代码
  .lintstagedrc
  src/styles/index.scss
Due: prettier --write, stylelint --fix

feat: 测试提交自动格式化代码
  .lintstagedrc
Due: none

feat: 更改lint配置
  .husky/_git-check/branch.sh
  .lintstagedrc
Due: none

✨ feat: czg汉化
  .husky/commit-msg
  .prettierrc
  commitlint.config.cjs
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

✨ feat: 将本地项目配置打开共享
  .gitignore
  .vscode/settings.json
Due: none

✨ feat: 暂存测试模块
  .husky/pre-commit
  .lintstagedrc
  .stylelintrc.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/main.js
  src/router/index.js
  src/views/TableTest.vue
  src/views/TransformationType.vue
  vite.config.js
Due: eslint --fix, prettier --write, stylelint --fix

✨ feat: 暂存
  .husky/pre-commit
  .lintstagedrc
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/api/http.js
  src/api/login/login.js
  src/components/AA.vue
  src/components/SlideVerification.vue
  src/components/slideImg.js
  src/main.js
  src/router/index.js
  src/views/BB.vue
  src/views/CC.vue
  vite.config.js
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --write: (((((any of: *.{js,jsx,ts,tsx}) or (any of: package.json)) or (any of: *.vue)) or (any of: *.{scss,less,css,html})) or (any of: *.md)) or (any of: *.{json})
  stylelint --fix: (any of: *.vue) or (any of: *.{scss,less,css,html})
